// Body
$bg: #ffffff; //#e5e5e5;

// Typography
$font-family: "Poppins", sans-serif;
$font-family-1: "Handlee", cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.7;
$line-weight-base: 400;
$letter-spacing: 1px;

//colors
$main: crimson;
$main-light: rgba(40, 71, 52, 0.633);
$secondary: #daa520;
$tertiary: #fcf2bc;
$text: #333333;
$text-2: #9e9b9b;
$white: #fff;

$max-width: 100%;
$row-gutter: 1.5rem;
$column-gutter: 1.5rem;
$column-gutter-sm: 0.5rem;

$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;

$header-height: 5rem;
$header-height-mobile: 8rem;
$nav-height: 4rem;
$nav-height-mobile: 6rem;
$footer-height: 45rem;
$container-padding: 6rem;
$container-padding-sm: 2rem;
$section-space: 8rem;
$border-radius: 7px;
